@media (min-width: 255px) and (max-width: 1240px)  {}

* {
    margin: 0;
    z-index: 2;
}

#stats-container {
    position: relative;
    left: 10%;
    max-width: 80%;
    height: 100vh;
}

.stats-block {
    position: relative;
    top: 20%;
    margin: 0 auto;
    background: #ebebeb;
    border: 2px solid rgb(68, 104, 71);
    border-radius: 1px;
    max-width: 650px;
    height: 355px;
}

.Answer-container {
    max-width: 100%;
}

.CorectPercent-container {
    margin: 35px 0px 0px 23px;
    border: 1px solid rgb(104, 104, 104);
    background: #e2e2e2;
    border-radius: 1px;
    max-width: 150px;
    height: 60px;
}

.Percent {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.CorrectAsnwrers {
    margin: 10px 0px 0px 10px;
    font-size: 16px;
}

.GeneralAnswers {
    display: flex;
    border: 1px solid rgb(104, 104, 104);
    background: #e2e2e2;
    border-radius: 1px;
    max-width: 300px;
    height: 60px;
    position: relative;
    left: 30vh;
    bottom: 9.650vh;
}

.ProblematicTopic-container {
    margin: 0 auto;
    padding-right: 2.01px;
    position: relative;
    top: 10%;
    max-width: 600px;
    height: 125px;
    border: 1px solid rgb(104, 104, 104);
    background: #e2e2e2;
    border-radius: 1px;
}

.Problematic {
    margin: 10px 0px 0px 10px;
    max-width: 135px;
}

.Topic {
    margin: 0px 0px 0px 10px;
    color: rgb(48, 85, 252);
}

.hrfProb {
    border: none;
    background-color: #e2e2e2;
    padding: 10px 0px 0px 0px;
}